- This notebook is to check if different normalization(log) for weight will affect results

In [1]:
import sys
sys.path.append("/Users/haoliu/chemprop")
sys.path.append("../src/models")
sys.path.append("../src")
sys.path.append("../")

In [6]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

from chemeleon import chemeleon_latent_space, build_mixture_latent_features
from miscibility import normalize_concentrations_log

In [5]:
df_mixture = pd.read_csv('df_mixture_20250502.csv')
# Log normalization
conc_cols = [f'conc{i}' for i in range(1, 3)]
df_mixture_norm = normalize_concentrations_log(df_mixture, conc_cols)
df_mixture_norm.head()

,smi1,conc1,smi2,conc2,miscibility
0,C[C@H](CCC(=O)NCCC[N+](C)(C)CCCS(=O)(=O)[O-])[...,5.097596,CC(C)(C)CC(C)(C)C1=CC=C(C=C1)OCCO,5.471754,1
1,C[C@H](CCC(=O)NCCC[N+](C)(C)CCCS(=O)(=O)[O-])[...,5.097596,[C@H]1([C@@H]([C@@H](OC([C@H]1O)C(=O)O)O[C@H]2...,3.819756,1
2,C[C@H](CCC(=O)NCCC[N+](C)(C)CCCS(=O)(=O)[O-])[...,5.097596,C([C@@H]1[C@H]([C@@H]([C@H]([C@H](O1)O[C@@H]2[...,4.116358,1
3,C[C@H](CCC(=O)NCCC[N+](C)(C)CCCS(=O)(=O)[O-])[...,5.097596,C1[C@@H]2[C@@H]([C@H](O1)[C@H]([C@H](O2)O)OS(=...,2.196230,1
4,C[C@H](CCC(=O)NCCC[N+](C)(C)CCCS(=O)(=O)[O-])[...,5.097596,C1[C@@H]2[C@@H]([C@H](O1)[C@H]([C@H](O2)O)O)O[...,1.993277,1

In [7]:
x_latent, y = build_mixture_latent_features(
    df=df_mixture_norm,
    smi_cols=['smi1', 'smi2'],
    conc_cols=['conc1', 'conc2'],
    target_col='miscibility',
    latent_fn=chemeleon_latent_space
)

In [8]:
x_latent.shape

(1378, 2048)

In [9]:
y

0       1
1       1
2       1
3       1
4       1
       ..
1373    1
1374    1
1375    1
1376    0
1377    0
Name: miscibility, Length: 1378, dtype: int64

In [10]:
df_total = pd.concat([pd.DataFrame(x_latent),pd.DataFrame(y, columns=['miscibility'])], axis=1)
df_total.head()

,0,1,2,3,4,5,6,7,8,9,...,2039,2040,2041,2042,2043,2044,2045,2046,2047,miscibility
0,0.983173,0.259651,0.295595,0.000000,0.538141,0.040938,0.0,0.000000,0.669622,0.0,...,0.0,0.0,1.100026,0.0,1.069194,1.020764,1.013939,0.664529,0.202612,1
1,0.565630,0.202298,0.714220,0.000000,0.675605,0.040938,0.0,0.000000,0.567305,0.0,...,0.0,0.0,1.323028,0.0,0.892217,0.716861,0.833979,1.406961,0.278006,1
2,0.612038,0.202298,0.626771,0.000000,1.488742,0.126826,0.0,0.000000,0.534728,0.0,...,0.0,0.0,1.320746,0.0,1.046349,1.052893,1.112724,1.165771,0.708769,1
3,0.848691,0.231603,0.448044,0.038447,0.866962,0.083137,0.0,0.002375,0.672752,0.0,...,0.0,0.0,0.833562,0.0,0.566086,0.796108,0.738340,0.592636,0.662156,1
4,0.766627,0.233067,0.383537,0.040367,0.804265,0.053932,0.0,0.000000,0.641175,0.0,...,0.0,0.0,0.860004,0.0,0.623991,0.767715,0.707882,0.633669,0.554588,1

In [14]:
df_total.to_csv('df_total_binary_chemeleon_log_20250930.csv', index=False)

In [13]:
df_total

,0,1,2,3,4,5,6,7,8,9,...,2039,2040,2041,2042,2043,2044,2045,2046,2047,miscibility
0,0.983173,0.259651,0.295595,0.000000,0.538141,0.040938,0.0,0.000000,0.669622,0.0,...,0.0,0.0,1.100026,0.0,1.069194,1.020764,1.013939,0.664529,0.202612,1
1,0.565630,0.202298,0.714220,0.000000,0.675605,0.040938,0.0,0.000000,0.567305,0.0,...,0.0,0.0,1.323028,0.0,0.892217,0.716861,0.833979,1.406961,0.278006,1
2,0.612038,0.202298,0.626771,0.000000,1.488742,0.126826,0.0,0.000000,0.534728,0.0,...,0.0,0.0,1.320746,0.0,1.046349,1.052893,1.112724,1.165771,0.708769,1
3,0.848691,0.231603,0.448044,0.038447,0.866962,0.083137,0.0,0.002375,0.672752,0.0,...,0.0,0.0,0.833562,0.0,0.566086,0.796108,0.738340,0.592636,0.662156,1
4,0.766627,0.233067,0.383537,0.040367,0.804265,0.053932,0.0,0.000000,0.641175,0.0,...,0.0,0.0,0.860004,0.0,0.623991,0.767715,0.707882,0.633669,0.554588,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1373,1.120528,1.352262,1.638147,0.753343,0.000000,0.009869,0.0,0.000000,0.688586,0.0,...,0.0,0.0,1.842024,0.0,0.198558,0.746428,0.742223,2.293226,0.051261,1
1374,0.922068,0.981707,2.375590,2.307257,0.000000,0.000000,0.0,0.000000,0.000000,0.0,...,0.0,0.0,1.787143,0.0,0.714198,0.000000,0.303002,2.408643,0.051261,1
1375,0.954638,0.430719,0.262797,0.000000,0.000000,0.049878,0.0,0.000000,0.996351,0.0,...,0.0,0.0,0.686182,0.0,0.274703,0.891619,0.612596,0.931509,0.143378,1
1376,0.756178,0.060165,1.000240,1.553913,0.000000,0.040009,0.0,0.000000,0.307765,0.0,...,0.0,0.0,0.631302,0.0,0.790343,0.145191,0.173375,1.046925,0.143378,0
1377,1.710817,0.370554,0.737443,1.553913,0.000000,0.009869,0.0,0.000000,0.688586,0.0,...,0.0,0.0,0.054880,0.0,0.569729,0.746428,0.439221,0.830175,0.000000,0